{% extends 'hospitalapp/base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-warning">
            <h4>Refer Specialists</h4>
        </div>

        <div class="card-body">

            <h5>
                Patient:
                {{ casualty.patient.name }}
            </h5>

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">

                    <label>
                        Select Specialists
                    </label>

                    <select
                        name="doctor_ids"
                        class="form-select"
                        multiple
                        size="10"
                        required
                    >

                        {% for doctor in specialists %}

                        <option
                            value="{{ doctor.doctor_id }}"
                        >
                            {{ doctor.specialization }}
                            -
                            {{ doctor.name }}
                        </option>

                        {% endfor %}

                    </select>

                </div>

                <button
                    type="submit"
                    class="btn btn-warning"
                >
                    Refer
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}